
<!-- modify this form HTML and place wherever you want your form -->
<!-- Using 1200px as form height, as message text varies -->
<div id="contactIFrameWrapper">
    <iframe id="contactIFrame" onload="singleSubmitFormIFrameResizer('contactIFrame', '1200px')" src="https://docs.google.com/forms/d/e/1FAIpQLSefdhNs2jbe_47HIqp0MuALM1NQWp0DyjJYADGi_jKJv5OZJQ/viewform?embedded=true&hl=dk" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<!-- 
    Script for resizing iFrame wrappers (as a way to avoid CORS)
    Inspired by this post: 
    https://blog.digitalbooster.net/embedded-google-forms-how-resize-the-height-of-the-iframe-after-a-submit
-->
<script>
    let loadCounter = 0;
    function singleSubmitFormIFrameResizer(id, formHeight) {
        loadCounter += 1;
        
        // Set the height of the wrapper according to the state of the iFrame
        const submittedFormHeight = "270px";
        // 'loadCounter % 2' to support form resubmission
        if(loadCounter % 2 === 0)
            document.getElementById(id).parentElement.style.height = submittedFormHeight;
        else
            document.getElementById(id).parentElement.style.height = formHeight;
    }
</script>