<!-- modify this form HTML and place wherever you want your form -->

<div id="signupIFrameWrapper">
    <iframe id="signupIFrame" onload="multiSubmitFormIFrameResizer('signupIFrame', '1750px', '633px')" src="https://docs.google.com/forms/d/e/1FAIpQLSctZDGe4MWRvDuCGNxaEjjuZg2D6D8NrCmMCEXRoA5KmuU5Qw/viewform?embedded=true&hl=dk" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Indlæser…</iframe>
</div>

<!-- 
    Script for resizing iFrame wrappers (as a way to avoid CORS)
    Inspired by this post: 
    https://blog.digitalbooster.net/embedded-google-forms-how-resize-the-height-of-the-iframe-after-a-submit
-->
<script>
    let loadCounter = 0;
    function multiSubmitFormIFrameResizer(id, formHeight, secondaryFormHeight) {
        loadCounter += 1;
        
        // Set the height of the wrapper according to the state of the iFrame
        if(loadCounter === 1)
            document.getElementById(id).parentElement.style.height = formHeight;
        else
            document.getElementById(id).parentElement.style.height = secondaryFormHeight;
    }
</script>